/Motor.class
/VendorID.class
/MotorStatus.class
/DoorStatus.class
/Door.class
/LGDoor.class
/HyundaiDoor.class
/Client.class
/MotorFactory.class
/DoorFactory.class
/LGMotor.class
/HyundaiMotor.class
/Direction.class
